@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap&subset=cyrillic-ext);

$fontFamily: "Roboto";
$maxWidthContainer: 1110;
$minWidth: 320;
$maxWidth: 1920;
$md1: $maxWidthContainer + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

$gray: #EFEFEF;
$accent: #66C05D;
$dark: #333333;

/* Обнуление */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
}

/* */

body {
    font-family: $fontFamily;
    background: $gray;
    font-size: 14px;
    line-height: calc(16 / 14 * 100%);
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

::placeholder {
    color: #c4c4c4;
}

a:hover {
    color: $accent;
    transition: color 0.3s ease 0s;
}

h2 {
    font-size: 48px;
    line-height: calc(56 / 48 * 100%);
    font-weight: 700;
}

h3 {
    font-size: 24px;
    line-height: calc(28 / 24 * 100%);
    font-weight: 700;
}

h4 {
    font-size: 18px;
    line-height: calc(21 / 18 * 100%);
    font-weight: 700;
}

.btn {
    background: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 36px;
    border: 2px solid $accent;
    border-radius: 15px;
    width: 166px;
}

.btn:hover {
    background: $gray;
    color: $accent;
    transition: all 0.3s ease 0s;
}

._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0px 15px;
    box-sizing: content-box;

    @media screen and (max-width: ($md1+px)) {
        max-width: 970px;
    }

    @media screen and (max-width: ($md2+px)) {
        max-width: 750px;
    }

    @media screen and (max-width: ($md3+px)) {
        max-width: none;
        padding: 0 15px;
    }
}

.header {
    padding: 0px;
    margin: 0px;
    background: white;
}

.menu {
    &__list {
        background: $gray;
        display: flex;
        flex-wrap: wrap;
        min-height: 30px;
        align-items: center;
        justify-content: center;
        padding: 10px 0;

        li {
            @media (min-width: ($md2+px)) {
                :hover {
                    color: $accent;
                    transition: color 0.3s ease 0s;
                }
            }

            @media screen and (max-width: ($md4+px)) {
                font-size: 16px;
                padding: 10px 0;
            }
        }

        li:not(:first-child) {
            margin: 0px 0px 0px 30px;
        }
    }
}

.beauty {
    padding: 20px 0;

    &__container {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: ($md3+px)) {
            max-width: none;
            padding: 0 15px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
    }

    &__call {
        display: flex;
        align-items: center;

        @media screen and (max-width: ($md3+px)) {
            padding: 10px 0 0 0;
        }
    }

    &__logo {
        flex: 0 0 80px;
        height: 80px;

        img {
            max-width: 100%;
        }
    }

    &__title {
        font-size: 36px;
        color: $accent;
        font-weight: 700;
        padding: 0 20px;
        text-align: center;
    }

    &__number {
        font-size: 16px;
        padding: 0 40px;
    }

    &__btn:hover {
        background: $gray;
        transition: all 0.3s ease 0s;
    }
}

.promo {
    background: no-repeat center top url(../img/Rectangle_2.png);
    padding: 190px 0;
    font-size: 14px;
    font-weight: 400;

    &__container {
        color: white;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;

        @media screen and (max-width: ($md4+px)) {
            align-items: center;
        }
    }

    &__title {
        margin: 0 0 40px 0;
    }

    &__description {
        margin: 0 0 45px 0;
        max-width: 308px;
        line-height: calc(20 / 14 * 100%);
    }

    &__btn {
        border-color: white;
    }

    *:last-child {
        margin-bottom: 0;
    }

    @media screen and (max-width: ($md4+px)) {
        background-position: 28% 0;
        padding: 90px 0;
    }
}

.offers {
    padding: 65px 0 100px 0;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @media screen and (max-width: ($md3+px)) {
            align-items: center;
            justify-content: center;
            padding: 0 0 15px 0;
        }
    }

    &__icon {
        img {
            width: 188px;
            height: 60px;
        }

        @media screen and (max-width: ($md3+px)) {
            display: none;
        }
    }

    &__img {
        width: 125px;
        height: 166px;
        margin: 0 0 20px 0;
    }

    &__list {
        padding: 15px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: ($md1+px)) {
            justify-content: flex-start;
            align-items: flex-start;
            overflow-x: auto;

            .offers__item:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    &__item {
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: white;
        width: 255px;
        height: 363px;

        *:last-child {
            margin-bottom: 0;
        }

        @media screen and (max-width: ($md1+px)) {}
    }

    &__description {
        width: 195px;
        margin: 0 0 20px 0;
    }

    &__price {
        font-size: 21px;
        line-height: calc(25 / 21 * 100%);
        font-weight: 500;
        margin: 0 0 20px 0;
    }

    &__btn {
        background: $accent;
        color: white;
    }
}

.actions {
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 132px;

        @media screen and (max-width: ($md1+px)) {}

        @media screen and (max-width: ($md3+px)) {
            .actions__item:first-child {
                margin-bottom: 25px;
            }

            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        padding: 35px 40px;
        width: 460px;
        height: 212px;
        background: $accent;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;

        *:last-child {
            margin-bottom: 0;
        }

        @media screen and (max-width: ($md1+px)) {
            padding: 25px 30px;
            width: 410px;

            .mail {
                width: 123.14px;
                height: 95px;
            }
        }

        @media screen and (max-width: ($md2+px)) {
            padding: 25px 30px;
            width: 300px;

            .mail {
                display: none;
            }
        }

        @media screen and (max-width: ($md3+px)) {
            width: 350px;
            padding: 0;
            justify-content: center;
            text-align: center;
        }

        @media screen and (max-width: ($md4+px)) {
            width: 280px;
            font-size: 13px;

            h4 {
                font-size: 16px;
            }
        }
    }

    &__description {
        margin: 0 0 30px 0;
        line-height: calc(20 / 14 * 100%);
    }

    &__title {
        margin: 0 0 25px 0;
    }

    &__email {
        background: white;
        border-radius: 15px;
        padding: 9px 25px;

        @media screen and (max-width: ($md3+px)) {
            padding: 8px 20px;
        }
    }

    &__btn {
        border-color: white;
    }
}

.map {
    display: flex;
    align-items: center;
}


.contacts {
    background: white;
    padding: 37px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        @media screen and (max-width: ($md2+px)) {
            padding: 0px 0;
            justify-content: center;

            .contacts__item:not(:last-child) {
                margin-bottom: 20px;
            }

            .contacts__item:first-child {
                margin-right: 20px;
            }
        }

        @media screen and (max-width: ($md3+px)) {
            flex-direction: column;

            .contacts__item:first-child {
                margin-right: 0px;
            }
        }
    }

    .left {
        width: 380px;

        @media screen and (max-width: ($md1+px)) {
            width: fit-content;
        }
    }

    &__social {
        width: 236px;
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        background: no-repeat center url(../img/ellipse.png);
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__number {
        font-size: 16px;
        padding: 0 40px;
    }

    .call {
        @media screen and (max-width: ($md4+px)) {
            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                padding: 0;
            }

            .btn {
                margin-top: 10px;
            }
        }
    }
}

.credits {
    padding: 25px 0;
    font-size: 12px;
    line-height: calc(14 / 12 * 100%);
    color: #828282;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        @media screen and (max-width: ($md2+px)) {
            margin-right: 35px;
        }

        @media screen and (max-width: ($md3+px)) {
            margin-right: 30px;
        }
    }
}